$text-color: #353C3F;
$heading-color: $text-color;
$text-color-subtle: #686E70;
$emphasis-color: #328800;

$color-primary-blue: #007da4;
$color-primary-blue-light: #0094c3;
$color-primary-blue-dark: #006280;

$color-success-light: #a3c584;
$color-success: #488b0a;
$color-success-dark: #2c5506;

$color-error-light: #df7f7f;
$color-error: #c00000;
$color-error-dark: #9c0000;

$color-warning-light: #f86f00;
$color-warning: #d96100;
$color-warning-dark: #b55100;

$color-info-light: $color-primary-blue;
$color-info: $color-primary-blue-dark;
$color-info-dark: $color-primary-blue-dark;

$platform-color-warn: #cd7e1d;
$platform-color-warn-text: #9e5700;

$color-gray-high-contrast: #6C6C6C;

$link-color: #1695BD;
$link-color-hover: darken($link-color, 15%);
$link-background-color: #e8f6fc;

$link-color-light: #b9DFEB;

$email-header-bg-color: #adcfea;
$pop-up-header-bg-color: #adcfea;

$correct-color: #C1D22E;
$correct-color-text: saturate(darken($correct-color, 18), 17);
$correct-color-background: desaturate(lighten($correct-color, 42), 11);

$incorrect-color: #D14D2F;
$incorrect-color-text: $incorrect-color;
$incorrect-color-background: saturate(lighten($incorrect-color, 38), 19);

$locked-text-color: #848484;

$border-color: #e4e4e4;
$border-color-dark: #1C3E71;

$background-color: #fff;
$background-color-subtle: #EEEEEE;
$background-color-dark: #353535;

$navigation-background-color: #353d40;
$navigation-bg-color-locked: #2c3436;
$nav-trigger-bg-color-active: #0f6c8b;
$nav-text-color: #b7bbbe;
$nav-text-hover-color: #fff;
$nav-border-color: #292e31;
$nav-progress-color: #c2d03c;
$nav-progress-bar-bg-color: #535649;

$leftbar-background-color: #4a4a4a;
$leftbar-background-focus: #333;
$leftbar-background-focus-hover: #222;
$leftbar-title-color: #aaa;
$leftbar-text-color: #f3f3f3;

$footer-color: $text-color;
$footer-border-color: lighten($footer-color, 15%);

$is-complete-bg-color: $correct-color;
$is-in-progress-bg-color: $link-color;
$is-locked-bg-color: $border-color;

$office-adventure-border-color: #d7d8d9;

$icon-color-complete: #666;

$teal: #167B9B;

$color-link-text: #006a8b;

// EDITOR COLORS
$color-yellow: #FFB504;

///// FONTS

$source-sans-pro: 'source_sans_pro';

$global-content-max-width: 68.75em;
$unit-content-max-width: 60em;

///// Palette colors that coordinate with wombat-style-guide
$color_orange_large_field: #ff4611;
$color_green_large_field: #689f36;
$color_blue_large_field: #007da4;
$color_purple_large_field: #4e4084;
$color_grey_large_field: #666666;

///// Other colors that coordinate with wombat-style-guide
// Grayscale
$color-black: #000;
$color-gray-900: #222;
$color-gray-800: #333;
$color-gray-700: #4a4a4a;
$color-gray-600: #666;
$color-gray-500: #999;
$color-gray-400: #aaa;
$color-gray-300: #ccc;
$color-gray-200: #ddd;
$color-gray-100: #f3f3f3;
$color-gray-000: #fafafa;
$color-white: #fff;

// --- Styleguide colors ---
// primary
$color-primary: #007DA4;
$color-primary-background-light: desaturate(lighten($color-primary, 60%), 70%); // #e5eef1
$color-primary-background: desaturate(lighten($color-primary, 60%), 70%); // #e5eef1
$color-primary-light: lighten($color-primary, 5%); // #0090be
$color-primary-dark: darken($color-primary, 10%); // #005671
$color-primary-darkest: darken($color-primary, 15%); // #004358

// secondary
$color-secondary: #FF4611;
$color-secondary-background-light: lighten($color-secondary, 40%); // #ffe5dd
$color-secondary-background: lighten($color-secondary, 25%); // #ffa991
$color-secondary-dark: darken($color-secondary, 10%); // #dd3100
$color-secondary-darker: darken($color-secondary, 15%); // #004358
$color-secondary-darkest: darken($color-secondary, 20%); // #771b00

// tertiary
$color-tertiary: #689f36;
$color-tertiary-background-light: lighten($color-tertiary, 50%); // #eaf4e0
$color-tertiary-background: lighten($color-tertiary, 30%); // #b5da94
$color-tertiary-dark: darken($color-tertiary, 10%); // #4f7929
$color-tertiary-darker: darken($color-tertiary, 20%); // #436623
$color-tertiary-darkest: darken($color-tertiary, 25%); // #2a4016

// quaternary
$color-quaternary: #4e4084;
$color-quaternary-background-light: lighten($color-quaternary, 55%); // #ebe8f4
$color-quaternary-background: lighten($color-quaternary, 40%); // #bdb5db
$color-quaternary-light: lighten($color-quaternary, 15%); // #705fb1
$color-quaternary-dark: darken($color-quaternary, 10%); // #3a2f62
$color-quaternary-darkest: darken($color-quaternary, 15%); // #302750

// correct
$color-correct: #8a9a00;
$color-correct-background: desaturate(lighten($color-correct, 40%), 10%); // #f1f4d8
$color-correct-text: saturate(darken($color-correct, 8%), 10%); // #667010

// incorrect
$color-incorrect: #D14D2F;
$color-incorrect-background: saturate(lighten($color-incorrect, 40%), 20%); // #fbd9d1
$color-incorrect-text: darken($color-incorrect, 15%); // #933621

// warning
$color-warn: #CD7E1D;
$color-warn-background: lighten($color-warn, 40%); // #f6dec0
$color-warn-text: saturate(darken($color-warn, 15%), 30%); // #9e5700